{extend name='common' /}

{block name='content'}

<div class="md-box">
    <div class="currentloc clear">
        <div class="center f12">

            <a href="http://wpa.qq.com/msgrd?v=3&uin=1677658490&site=qq&menu=yes" class="fr qqbtn tc f-666" target="_blank">QQ在线交谈</a>
            <span class="fr m-r-100 f-a5937d"><!-- 节日名称  <i class="icon-bgr icon-gift m-l-10"></i>--></span>
        </div>
    </div>
    <div class="center rel">
        <div class="md-login bg-fff">
            <form name="formLogin" action="" method="post">
                <div class="line title rel lh1 clear">
                    <b class="fl f24">欢迎回来</b>
                    <span class="fr f16 f-666">还没有账号？
                        <a href="/register.html" class="f-b28850">现在注册</a>
                    </span>
                </div>
                <div class="line m-t-28">
                    <input type="text" name="username" placeholder="请输入手机号／邮箱" class="db text" />
                </div>
                <div class="line error-tips f12 f-d93732">&nbsp;</div>
                <div class="line">
                    <input type="password" name="password" placeholder="请输入密码" class="db text" />
                </div>
                <div class="line error-tips f12 f-d93732">&nbsp;</div>
                <div class="line"><button type="submit" style="outline: none"  class="btn-form f-fff tc full ani-bg">立即登录</button></div>
                <div class="line clear m-t-20">
                    <!--<label class="fl">-->
                    <!--<input type="checkbox" value="1"  name="remember" id="remember" /> 30天内免登录-->
                    <!--</label>-->
                    <!--<a href="#" class="fr">忘记密码？</a>-->
                </div>
                <!--<div class="line clear tc m-t-40 f-999 f16">-->
                    <!--<span class="fl streak"></span>其他方式登录<span class="fr streak"></span>-->
                <!--</div>-->
                <div class="line tc other-login m-t-28 lh2">
                    <a href="toqq.html" class="dib">
                        <i class="icon-bgr icon-login-qq ani-bg"></i><br>QQ
                    </a>
                    <!--<a href="#" class="dib">-->
                        <!--<i class="icon-bgr icon-login-sina ani-bg"></i><br>新浪微博-->
                    <!--</a>-->
                    <!--<a href="#" class="dib"><i class="icon-bgr icon-login-alipay ani-bg"></i><br>支付宝-->
                    <!--</a>-->
                </div>
                <input type="hidden" name="type" value="phone">
            </form>
        </div>
    </div>
</div>

{/block}
