{extend name="common" /}
{block name='content'}
<div class="padding-big background-color">

    <!-- TAB NAVIGATION -->
    <ul class="nav nav-tabs" role="tablist">
        <li class="active"><a href="#">修改密码</a></li>
    </ul>
    <hr>
    <div class="container" style="width: 90%">
        <form method="post" action="">

            <div class="form-group">
                <label >旧密码</label>
                <input name="oldPassword" type="password" class="form-control"  required>

            </div>
            <div class="form-group">
                <label >新密码</label>
                <input name="newPassword" type="password" class="form-control"  required>

            </div>
            <div class="form-group">
                <label >确认密码</label>
                <input name="rePassword" type="password" class="form-control"  required>

            </div>


            <button type="submit" class="btn btn-primary">保存</button>
        </form>
    </div>

</div>
{/block}